<div>
  <div class="connection flex">
    <div class="left">
      <a href="https://github.com/nhcf/NanHuInsight" target="_blank"><span class="name">NanHuInsight</span> 开源 Github 主页</a>
    </div>
    <div class="right flex">
      <div class="code">
        <img src="/assets/images/qr.png" width="108px" height="108px" alt="NanHuInsight 二维码" />
      </div>
      <div>
        <div style="color: #9C9E9E">联系我们</div>
        <div style="color: #9C9E9E; margin: 20px 0">GitHub 地址：https://github.com/nanhu-tech/NanHuInsight</div>
        <div style="color: #9C9E9E">客户支持邮箱：support.nanhuinsight@zhejianglab.org</div>
      </div>
    </div>
  </div>
  <div class="copyright">Coypright@2025之江实验室.All Rights Reserved</div>
</div>