html body {
    font-size: 14px;
}
body #main {
    max-width: 100%;
    padding: 0;
}
body .masthead .greedy-nav a{
    padding: 8px 0;
    margin: 0 8px;
}
.masthead .site-logo img {
    height: 30px;
}
body .masthead__inner-wrap {
    max-width: 100%;
    padding: 2px 24px
}
.greedy-nav li a {
    color: #1E1E1F;
}
.page__content a:not(.btn):hover {
    text-decoration: none;
}
.flex {
    display: flex;
}
body .banner {
    height: 428px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/banner.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #202231;
}
.github {
    gap: 20px;
    margin-top: 36px;
}
.github .name {
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 32px;
    font-weight: 600;
    color: #040000;
    background: #71717B;
    border-radius: 4px 0px 0px 4px;
}
.github .name img {
    margin-right: 4px;
}

.github .value {
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 32px;
    color: #fff;
    background: #32333F;
    border-radius: 4px;
}
.quick-start {
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    width: 140px;
    height: 40px;
    background: linear-gradient( 90deg, #417EFF 0%, #55D268 100%);
    border-radius: 20px;
}
.quick-start a {
    color: #fff;
    text-decoration: none;
}
.features {
    max-width: 1440px;
    padding: 40px 164px;
    margin: 0 auto;
}
.features .title {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
.features .subtitle {
    margin-top: 8px;
    font-size: 18px;
    color: #9C9E9E;
    text-align: center;
}
.features .content {
    gap: 64px;
    margin-top: 80px;
    line-height: 32px;
    color: #333
}
.content .left, .content .right {
    flex: 0 1 auto;
}
.content .basis {
    min-width: 538px;
}
.content .feature {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* footer */
#footer footer {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #202231;
}
.copyright {
    padding: 10px 0;
    background-color: #0D0F1C;
    color: #9C9E9E;
    text-align: center;
    font-weight: 500;
}

.connection {
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 164px 64px;
    color: #fff;
}
.connection .left {
    margin-bottom: 16px;
}
.connection .right {
    gap: 20px;
}
.connection .name {
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(90deg, #03CB21 0%, #275FD7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.connection a:hover {
    text-decoration: none;
}

/** media mobile **/
@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
    .banner {
        padding: 0 12px;
    }
    .github {
        margin: 0;
        justify-content: center;
    }
    .quick-start {
        margin-top: 12px;
    }
    .features {
        padding: 20px;
    }
    
    .connection {
        padding: 20px;
    }
    body .masthead__inner-wrap {
        padding: 2px;
    }
    .content .basis {
        min-width: auto;
    }
}